:root{
    --nodeTried-half-bgC: LightSeaGreen;
    --nodeTried-full-bgC: crimson;

    --nodeFull-half-bgC: grey;
    --nodeFull-full-bgC: black;

    --nodeStart-half-bgC: gold;
    --nodeStart-full-bgC: purple;

    --nodeFinish-half-bgC: lightcoral;
    --nodeFinish-full-bgC: green;

    --nodeCorrect-half-bgC: rgb(116, 105, 187);
    --nodeCorrect-full-bgC: lime;

    --nodePossiblePath-half-bgC: rgb(92, 72, 223);
    --nodePossiblePath-full-bgC: rgb(255, 230, 0);

    --animDur: 0.9s;
}

.nodeFull{
    background-color: aliceblue;
    --colorHalf: var(--nodeFull-half-bgC);
    --colorFull: var(--nodeFull-full-bgC);
    
}

.nodeFinish{
    --colorHalf: var(--nodeFinish-half-bgC);
    --colorFull: var(--nodeFinish-full-bgC);
    
}

.nodeStart{
    --colorHalf: var(--nodeStart-half-bgC);
    --colorFull: var(--nodeStart-full-bgC);
    
}

.nodeCorrect{
    --colorHalf: var(--nodeCorrect-half-bgC);
    --colorFull: var(--nodeCorrect-full-bgC);
    
}

.nodeTried{
    --colorHalf: var(--nodeTried-half-bgC);
    --colorFull: var(--nodeTried-full-bgC);
    
}

.nodePossiblePath{
    --colorHalf: var(--nodePossiblePath-half-bgC);
    --colorFull: var(--nodePossiblePath-full-bgC);
    
}

.nodeAnim{
    animation-name: nodeAnim;
    animation-duration: var(--animDur);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}


.nodeEmpty{
    background-color: aliceblue;
}

.nodeEmpty:hover{
    background-color: lightseagreen;
}

@keyframes nodeAnim {
    0% {
        transform: scale(0.2);
        background-color: aliceblue;
    }
    40%{
        transform: scale(1.2);
        background-color: var(--colorHalf);
    }
    100%{
        transform: scale(1);
        background-color: var(--colorFull);
    }
}

.node{
    float: left;    
    height: 4.347%; 
    width: 2.222%;    
    border-radius: 0.25vw;
    border-right: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

.nodeFix{
    margin-left: 11%;
    border-radius: 0.25vw;
    border: solid 1px lightgray;   
    height: 25px;
    width: 25px;
    float: left;
    margin-bottom: 66px;
    margin-right: 4px;
}

.custom-button {     
    height: 100%;   
    width: 85%;
       
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;    
    font-size: 16px;
    background: whitesmoke;
    cursor: pointer;
    transition: all 0.3s ease; 
    border-radius: 10px;         
  }   
  
.custom-button:hover {
    box-shadow:
    -7px -7px 20px 0px rgba(255, 255, 255, 0.400),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.400),
    7px 7px 20px 0px rgba(255, 255, 255, 0.400),
    4px 4px 5px 0px rgba(255, 255, 255, 0.400);
}

.slider{
    width: 85%;             
}

.card{
    margin: auto;
    width: 90%;
    font-size: 1.125rem;
}

#tableArea{
    padding: 0.6vw 0.6vw 0.6vw 0.6vw;
    height: 100%;
    width: 90%;
    margin: auto;
    background-color: PapayaWhip;    
}

.speedCheckbox{
    float: left;
    margin-left: 10%;
}

#wrapper{
    height: 34vw;
    width: 100%;
    margin: auto;
}

p{
    font-size: 15px;
}
